{{ define "content" }}
  <section>
    <div class="tag_cat">Difficulty: <a href="/tags/lc_easy">Easy</a> <a href="/tags/lc_medium">Medium</a> <a href="/tags/lc_hard">Hard</a></div>
    <div class="tag_cat">Topic: <a href="/tags/lc_linked_list">Linked List</a> <a href="/tags/lc_string">String</a></div>
    <br/>
    <ul class="posts_listing">
      {{ range .Pages }}
      <li>
        <div class="row" id="posts">
          <div class="d-none d-sm-block col-sm-3 date-time-title">
            <time>{{ .Date.Format "02 Jan 2006" }}</time>
          </div>
          <div class="col-sm date-time-title post">
            {{ if in .Params.tags "lc_easy" }}<div class="lc-difficulty lc-easy"></div>{{ end }}
            {{ if in .Params.tags "lc_medium" }}<div class="lc-difficulty lc-medium"></div>{{ end }}
            {{ if in .Params.tags "lc_hard" }}<div class="lc-difficulty lc-hard"></div>{{ end }}
            <a href="{{ .RelPermalink }}">{{ .Title }}
              <div class="lang-icons">
              {{ if in .Content "id=\"golang\" class=\"lang\"" }}<img src="/icons/golang.png" />{{ end }}
              {{ if in .Content "id=\"python\" class=\"lang\"" }}<img src="/icons/python.png" />{{ end }}
              {{ if in .Content "id=\"java\" class=\"lang\"" }}<img src="/icons/java.png" />{{ end }}
              {{ if in .Content "id=\"runtime\" class=\"lang\"" }}<img src="/icons/runtime.png" />{{ end }}
              </div>
            </a>
          </div>
        </div>
      </li>
      {{ end }}
    </ul>
  </section>
{{ end }}
